<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>
    {{#user}}
    <h3>Logged in as {{user.username}}</h3>
    {{/user}} {{^user}}
    <h3>No User logged in</h3>
    {{/user}}
    <h1>My site</h1>
    <a href="/play">play</a>
   


</body>

</html>