<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>

    <h1>Let's Play!</h1>


    {{^win}} {{#tries}}
    <p id="tries">You have {{.}} tries</p>

    {{/tries}}
    <span id="youGuessed"> You Guessed: {{#guesses}}  <span id="guesses">{{.}}</span> {{/guesses}}</span>


    <div class="spaces">
        {{#spaces}}
        <span class="letters">{{.}}</span> {{/spaces}}
    </div>
    {{/win}} {{^win}}
    <form action="/guess" method="post">
        <input pattern="[A-Za-z]" autofocus="autofocus" max-length="1" class="input" type="text" name="guess">
        <input type="submit" class="submit">
    </form>


    {{/win}} {{#lose}}
    <p id="lose">YOU LOSE!</p>
    {{/lose}} {{#win}}

    <p id="win">YOU WIN!!!!!!!!</p>{{/win}} {{#tooLong}}
    <p>One letter only please!</p>
    {{/tooLong}}



    <div class="tryAgain">
        <a class="tryButton" href=" /again ">Try Again</a>
    </div>







</body>

</html>